.face-found-feedback {
  position: absolute;
  font-weight: bold;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: $higher-z-index;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.face-found-feedback--green {
  color: $green;
  -webkit-text-fill-color: $green;
}

.photo-taken {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(-1, 1);
}
